*{
	margin-left:0px;
	margin-right:0px;
	text-align:center;
    
}
body{
    height: 100%;
   margin: 0px;
   padding: 0px;
}
.principal{
    height: 100vh;
    
    /*background-color:beige;*/
	background-image: url(../images/legologo.png);
	/*background-repeat:no-repeat;background-size:cover;background-attachment:fixed;*/background-color: rgba(245,245,220,0.9);background-blend-mode: lighten;
    width: 75%;
    float: left;
    
}
.secundario h1{
    margin-block-start: -0;
}
.secundario{
    background-image: url(../images/cochecito.jfif);
	background-size:contain;background-color: rgba(245,245,220,0.9); background-blend-mode: lighten;
    height: 100vh;
    margin-block-start: -0;
    width: 25%;
    float: right;
    
}
.secundario li{
   list-style: none;
}
#primeralinea{
    font-style: italic;
}
#segundalinea{
    font-weight:bold;
	text-decoration:underline black;;
}
#fotohola{
    width:150px
	

}