*{
	margin-left:0px;
	margin-right:0px;
	text-align:center;
    
}
body{
   margin: 0px;
}
.principal{
    min-height: 1000px;
    height: 100%;
    background-color:beige;
	background-image: url(../images/legologo.png);
	background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-color: rgba(245,245,220,0.9); background-blend-mode: lighten;
    width: 75%;
    display:block;
	align-items:center;
	float:left;
    
}
.secundario h1{
    margin-block-start: -0;
}
.secundario{
    background-image: url(../images/cochecito.jfif);
	background-size:cover;background-color: rgba(245,245,220,0.9); background-blend-mode: lighten;
    min-height: 1000px;
    margin-block-start: -0;
    height: 100%;
    
}
.secundario li{
   list-style: none;
}
#primeralinea{
    font-style: italic;
}
#segundalinea{
    font-weight:bold;
	text-decoration:underline black;;
}
#fotohola{
    width:150px
	

}